apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.namespace }}
data:
  DB_NAME: {{ .Values.configMap.DB_NAME | quote }}
  DB_HOST: {{ .Values.configMap.DB_HOST | quote }}
  DB_PORT: {{ .Values.configMap.DB_PORT | quote }}
  BACKEND_URL: {{ .Values.configMap.BACKEND_URL | quote }}
