apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: project
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.35
          command: ['sh', '-c', 'until nc -z db 5432; do echo waiting for postgres...; sleep 2; done;']
      containers:
        - name: backend-pod
          image: kareem32/app-test:backend
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: postgresql://admin:admin123@db:5432/learning_platform
            - name: DB_HOST
              value: "db"
            - name: DB_PORT
              value: "5432"

          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3

          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 45
            periodSeconds: 10
            failureThreshold: 3

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
