apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: project
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-pod
          image: kareem32/app-test:backend
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: postgresql://admin:admin123@db:5432/learning_platform
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_PORT_5432_TCP
              value: "5432"
            - name: POSTGRES_PORT_5432_TCP_ADDR
              value: "postgres"
            - name: POSTGRES_PORT_5432_TCP_PORT
              value: "5432"

          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
