apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy
  labels:
    app: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: frontend-web
          image: kareem32/app-test:1.0.0
          ports:
            - containerPort: 80