apiVersion: v1
kind: Pod
metadata:
  name: frontend-pod
  labels:
    app: nginx
spec:
  containers:
    - name: frontend
      image: kareem32/app-test:1.0.0
      ports:
        - containerPort: 80
