apiVersion: v1
kind: Pod
metadata:
  name: web-frontend
  labels:
    app: nginx
    tier: frontend
spec:
  containers:
    - name: frontend
      image: nginx
      ports:
        - containerPort: 80

